.dialogs{
    display: grid;
    grid-template-columns: 3fr 9fr;
}

.dialogsUsers{
    padding: 10px;
    color: white;
    text-decoration: none;
}

.dialog{
    color: white;
    text-decoration: none;
}

/*.dialogsUsers .active{*/
/*    color: gold;*/
/*}*/

.messages{
    padding:10px;
    color: white;
}